<section id="header-top">
	<div class="row">
		<div class="large-6 medium-4 small-only-text-center columns">
			<a href="#" class="hello">hello! <span>loo tianci</span> </a>
		</div>
		<div class="large-6 medium-8 small-only-text-center text-right columns">
			<ul>
				<li>follow us on:</li>
				<li><a href="#"><img src="images/facebook.png" alt="" /></a></li>
				<li><a href="#"><img src="images/twitter.png" alt="" /></a></li>
			</ul>
		</div>
	</div>
</section>
<section id="banner">
	<div id="header">
		<div class="row">
			<div class="large-12 columns">
				<nav class="top-bar" data-topbar role="navigation">
					<ul class="title-area">
						<li>
							<h1><a href="index.html"><img src="images/logo.png" /></a></h1>
						</li>
						 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
						<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
					</ul>
					<section class="top-bar-section">
						<!-- Right Nav Section -->
						<ul class="right">
							<li class="active"><a href="index.html"><label>start here</label>Home</a></li>
							<li><a href="index.html"><label>what we have</label>in stock</a></li>
							<li><a href="index.html"><label>coming soon</label>pre-order</a></li>
							<li><a href="index.html"><label>check out</label>my cart</a></li>
							<li><a href="index.html"><label>find us</label>contact</a></li>
						</ul>
					</section>
				</nav>
			</div>
			<div class="large-12 columns">
				<ul class="bxslider">
					<li><img src="images/slider-img.jpg" alt="" />
						<div class="this-month">
							<h6>this month</h6>
							<h3>featured toys</h3>
						</div>
					</li>
					<li><img src="images/slider-img.jpg" alt="">
						<div class="this-month">
							<h6>this month</h6>
							<h3>featured toys</h3>
						</div>
					</li>
					<li><img src="images/slider-img.jpg" alt="">
						<div class="this-month">
							<h6>this month</h6>
							<h3>featured toys</h3>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>	
</section>
<section id="content">
	<div class="row">
		<div class="large-12 columns">
			<div class="details">
				<h5>Fight the evil forces with yoda, obi wan and anakin throught the galaxy™!</h5>
				<p>The most iconic characters of the Star Wars™ saga is back, and it’s leaner and meaner than ever before! As featured in exciting scenes from Star Wars: Revenge of the Sith, this latest LEGO® set is crammed with new and updated exciting features.</p>
			</div>
		</div>
		<div class="large-12 columns">
			<div class="search">
				<ul>
					<li><a href="#"><button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">search keywords</button></a></li>
					<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
					  <li><a href="#">This is a link</a></li>
					  <li><a href="#">This is another</a></li>
					  <li><a href="#">Yet another</a></li>
					</ul>
					<li><a href="#"><button href="#" data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" class="button dropdown">choose a category</button></a></li>
					<ul id="drop2" data-dropdown-content class="f-dropdown" aria-hidden="true">
					  <li><a href="#">This is a link</a></li>
					  <li><a href="#">This is another</a></li>
					  <li><a href="#">Yet another</a></li>
					</ul>
					<li><a href="#"><button href="#" data-dropdown="drop3" aria-controls="drop3" aria-expanded="false" class="button dropdown">choose a manufacturer</button></a></li>
					<ul id="drop3" data-dropdown-content class="f-dropdown" aria-hidden="true">
					  <li><a href="#">This is a link</a></li>
					  <li><a href="#">This is another</a></li>
					  <li><a href="#">Yet another</a></li>
					</ul>
					<li><a href="#"><img src="images/search.png" alt=""/></a></li>
				</ul>
			</div>
		</div>
		<div class="large-12 columns">
			<div class="stock">
				<h2>in stock</h2>
				<ul class="tabs" data-tab>
					<li class="tab-title active"><a href="#panel1">all</a></li>
					<li class="tab-title"><a href="#panel2">latest</a></li>
					<li class="tab-title"><a href="#panel3">most viewed</a></li>
					<li class="tab-title"><a href="#panel4">price ascending</a></li>
					<li class="tab-title"><a href="#panel5">price descending</a></li>
					<li class="tab-title none"><a href="#panel6">a-z</a></li>
				</ul>
				<div class="tabs-content">
					<div class="content active" id="panel1">
						<div class="medium-12 none columns">
							<div id="container" class="js-masonry" data-masonry-options='{ "itemSelector": ".item" }'>
								<div class="row">
									<div class="small-12 medium-6 large-3 p-normal columns item">
										<div class="demo-height">
											<img src="images/img-1.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars stormtrooper 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-3.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>lego</h6>
											<p>76038 attack on avengers tower </p>
											<h5>129.90 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-4.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>megahouse</h6>
											<p>one piece variant action heroes - d luffy</p>
											<h5>180 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-8.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>kids logic</h6>
											<p>kids nation gm 01 street fighter - ryu</p>
											<h5>130.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-5.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>square enix</h6>
											<p>playarts kai final fantasy 7 cloud</p>
											<h5>210.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-7.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars finn 1/6th scale collectible figure</p>
											<h5>270.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-6.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>takara tomy</h6>
											<p>transformers - unite warrior - bumblebee </p>
											<h5>160 SGD</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content" id="panel2">
						<div class="medium-12 none columns">
							<div id="container1" class="js-masonry" data-masonry-options='{ "itemSelector": ".item1" }'>
								<div class="row">
									<div class="small-12 medium-6 large-3 p-normal columns item">
										<div class="demo-height">
											<img src="images/img-1.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars stormtrooper 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-7.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars finn 1/6th scale collectible figure</p>
											<h5>270.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-6.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>takara tomy</h6>
											<p>transformers - unite warrior - bumblebee </p>
											<h5>160 SGD</h5>
										</div>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<div class="content" id="panel3">
						<div class="medium-12 none columns">
							<div id="container2" class="js-masonry" data-masonry-options='{ "itemSelector": ".item2" }'>
								<div class="row">
									<div class="small-12 medium-6 large-3 p-normal columns item">
										<div class="demo-height">
											<img src="images/img-1.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars stormtrooper 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-7.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars finn 1/6th scale collectible figure</p>
											<h5>270.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-6.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>takara tomy</h6>
											<p>transformers - unite warrior - bumblebee </p>
											<h5>160 SGD</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content" id="panel4">
						<div class="medium-12 none columns">
							<div id="container3" class="js-masonry" data-masonry-options='{ "itemSelector": ".item3" }'>
								<div class="row">
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-7.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars finn 1/6th scale collectible figure</p>
											<h5>270.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-6.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>takara tomy</h6>
											<p>transformers - unite warrior - bumblebee </p>
											<h5>160 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3 p-normal columns item">
										<div class="demo-height">
											<img src="images/img-1.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars stormtrooper 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content" id="panel5">
						<div class="medium-12 none columns">
							<div id="container4" class="js-masonry" data-masonry-options='{ "itemSelector": ".item4" }'>
								<div class="row">
									<div class="small-12 medium-6 large-3 p-normal columns item">
										<div class="demo-height">
											<img src="images/img-1.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars stormtrooper 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-7.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars finn 1/6th scale collectible figure</p>
											<h5>270.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-6.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>takara tomy</h6>
											<p>transformers - unite warrior - bumblebee </p>
											<h5>160 SGD</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content" id="panel6">
						<div class="medium-12 none columns">
							<div id="container5" class="js-masonry" data-masonry-options='{ "itemSelector": ".item5" }'>
								<div class="row">
									<div class="small-12 medium-6 large-3 p-normal columns item">
										<div class="demo-height">
											<img src="images/img-1.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars stormtrooper 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-7.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars finn 1/6th scale collectible figure</p>
											<h5>270.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-6.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>takara tomy</h6>
											<p>transformers - unite warrior - bumblebee </p>
											<h5>160 SGD</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<ul class="pagination" role="menubar" aria-label="Pagination">
					<li class="arrow unavailable" aria-disabled="true"><a href=""> prev</a></li>
					<li class="current"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li class="arrow"><a href="">next</a></li>
				</ul>
			</div>
		</div>
		<div class="large-12 columns">
			<div class="stock">
				<h2>pre-order</h2>
				<ul class="tabs" data-tab>
					<li class="tab-title active"><a href="#panel7">all</a></li>
					<li class="tab-title"><a href="#panel8">latest</a></li>
					<li class="tab-title"><a href="#panel9">most viewed</a></li>
					<li class="tab-title"><a href="#panel10">price ascending</a></li>
					<li class="tab-title"><a href="#panel11">price descending</a></li>
					<li class="tab-title none"><a href="#panel2">a-z</a></li>
				</ul>
				<div class="tabs-content">
					<div class="content active" id="panel7">
						<div class="medium-12 none columns">
							<div id="containera" class="js-masonry" data-masonry-options='{ "itemSelector": ".item" }'>
								<div class="row">
									<div class="small-12 medium-6 large-3 p-normal columns item">
										<div class="demo-height">
											<img src="images/img-1.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars stormtrooper 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-3.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>lego</h6>
											<p>76038 attack on avengers tower </p>
											<h5>129.90 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-4.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>megahouse</h6>
											<p>one piece variant action heroes - d luffy</p>
											<h5>180 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-8.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>kids logic</h6>
											<p>kids nation gm 01 street fighter - ryu</p>
											<h5>130.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-5.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>square enix</h6>
											<p>playarts kai final fantasy 7 cloud</p>
											<h5>210.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-7.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars finn 1/6th scale collectible figure</p>
											<h5>270.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-6.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>takara tomy</h6>
											<p>transformers - unite warrior - bumblebee </p>
											<h5>160 SGD</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content" id="panel8">
						<div class="medium-12 none columns">
							<div id="containerb" class="js-masonry" data-masonry-options='{ "itemSelector": ".item1" }'>
								<div class="row">
									<div class="small-12 medium-6 large-3 p-normal columns item">
										<div class="demo-height">
											<img src="images/img-1.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars stormtrooper 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-6.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>takara tomy</h6>
											<p>transformers - unite warrior - bumblebee </p>
											<h5>160 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content" id="panel9">
						<div class="medium-12 none columns">
							<div id="containerc" class="js-masonry" data-masonry-options='{ "itemSelector": ".item2" }'>
								<div class="row">
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3 p-normal columns item">
										<div class="demo-height">
											<img src="images/img-1.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars stormtrooper 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-6.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>takara tomy</h6>
											<p>transformers - unite warrior - bumblebee </p>
											<h5>160 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content" id="panel10">
						<div class="medium-12 none columns">
							<div id="containerd" class="js-masonry" data-masonry-options='{ "itemSelector": ".item3" }'>
								<div class="row">
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-6.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>takara tomy</h6>
											<p>transformers - unite warrior - bumblebee </p>
											<h5>160 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3 p-normal columns item">
										<div class="demo-height">
											<img src="images/img-1.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars stormtrooper 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content" id="panel11">
						<div class="medium-12 none columns">
							<div id="containere" class="js-masonry" data-masonry-options='{ "itemSelector": ".item4" }'>
								<div class="row">
									<div class="small-12 medium-6 large-3 p-normal columns item">
										<div class="demo-height">
											<img src="images/img-1.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars stormtrooper 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-6.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>takara tomy</h6>
											<p>transformers - unite warrior - bumblebee </p>
											<h5>160 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content" id="panel12">
						<div class="medium-12 none columns">
							<div id="containerf" class="js-masonry" data-masonry-options='{ "itemSelector": ".item5" }'>
								<div class="row">
									<div class="small-12 medium-6 large-3 p-normal columns item">
										<div class="demo-height">
											<img src="images/img-1.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars stormtrooper 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-6.jpg" alt="Image">
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>takara tomy</h6>
											<p>transformers - unite warrior - bumblebee </p>
											<h5>160 SGD</h5>
										</div>
									</div>
									<div class="small-12 medium-6 large-3  p-normal columns item">
										<div class="demo-height">
											<img src="images/img-2.jpg" alt="Image">
											<h4>new</h4>
											<div class="overlay">
												<a href="#"><img  src="images/search-white.png" alt=""/></a>
											</div>
										</div>	
										<div class="text-details">
											<h6>hot toys</h6>
											<p>star wars rey 1/6th scale collectible figure</p>
											<h5>320.00 SGD</h5>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<ul class="pagination" role="menubar" aria-label="Pagination">
					<li class="arrow unavailable" aria-disabled="true"><a href=""> prev</a></li>
					<li class="current"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li class="arrow"><a href="">next</a></li>
				</ul>
			</div>
		</div>
		<div class="large-6 medium-6 padding-right columns">
			<img src="images/star-img.jpg" alt=""/>
		</div>
		<div class="large-6 medium-6 padding-left columns">
			<img src="images/lego-img.jpg" alt=""/>
		</div>
	</div>	
</section>
<section id="footer">
	<div class="row">
		<div class="large-5 small-12 medium-4 small-only-text-center  columns">
			<a href="index.html"><img src="images/logo.png" alt=""/></a>
		</div>
		<div class="large-7 small-12 medium-8 small-only-text-center  columns">
			<ul>
				<li><a href="index.html"><label>what we have</label>in stock</a></li>
				<li><a href="index.html"><label>coming soon</label>pre-order</a></li>
				<li><a href="index.html"><label>check out</label>my cart</a></li>
				<li><a href="index.html"><label>let’s</label>login</a></li>
				<li><a href="index.html"><label>find us</label>contact</a></li>
			</ul>
		</div>
		<div class="large-12 text-center columns">
			<p>&copy; 2015 copyright <span>toyscabinet<span> . all rights reserved</p>
		</div>
	</div>	
</section>